@{
    ViewBag.Title = "Lista pracowników";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        $(document).ready(function() {
            getAccountList();
        });

        $(document).on("click",
            ".editAccountButton",
            function() {
                var userId = $(this).data('id');
                $(".modal-body .userId").val(userId);
            });

        function getAccountList() {
            $('#accountlist').DataTable().destroy();
            var oTable = $('#accountlist').DataTable({
                "bServerSide": true,
                "bProcessing": true,
                "ajax": {
                    url: '@Url.Action("AccountListDataTable", "Account")',
                    type: 'POST'
                },
                paging: true,
                searching: false,
                ordering: true,
                bAutoWidth: false,
                "pageLength": 25,
                "order": [[0, "desc"]],
                "columnDefs": [
                    { "width": "5%", "targets": 0 },
                    { "width": "10%", "targets": 1 },
                    { "width": "15%", "targets": 2 },
                    { "width": "15%", "targets": 3 },
                    { "width": "30%", "targets": 4 },
                    { "width": "15%", "targets": 5 },
                    { "width": "10%", "targets": 6, "orderable": false }
                ],
                "columns": [
                    { "data": "Id" },
                    { "data": "RoleName" },
                    { "data": "Name" },
                    { "data": "Surname" },
                    { "data": "WardName" },
                    { "data": "PhoneNumber" },
                    {
                        "data": "IsActive",
                        render: (data, type, row) => {
                            var element;
                            if (data === true) {
                                element =
                                    '<button type="button" data-id="' +
                                    row.UserId +
                                    '" class="btn btn-danger editAccountButton" data-toggle="modal" data-target="#deactivateAccountModal">Deaktywuj konto</button>';
                            } else {
                                element =
                                    '<button type="button" data-id="' +
                                    row.UserId +
                                    '" class="btn btn-success editAccountButton" data-toggle="modal" data-target="#activateAccountModal">Aktywuj konto</button>';
                            }
                            return element;
                        }
                    }
                ],
                "dom": 'Rlfrtip',
                "bDestroy": true,
                "iDisplayLength": 25,
                "lengthMenu": [[10, 25, 50, 100, 250], [10, 25, 50, 100, 250]]
            });

            $('#deactivateAccountModal').on('click', '#deactivate-user', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/edytuj-konto',
                    type: "POST",
                    dataType: "json",
                    data: { isActive: false, id: $('#deactivateUserId').val() },
                    success: function (result) {
                        if (result != null && result.type === "OK") {
                            toastr.success(result.message);
                            location.reload();
                        } else
                            toastr.error(result.message);
                    },
                    error: function (result) {
                        toastr.error(result.Message);
                    }
                });
                $('#deactivateAccountModal').modal('hide');
            });

            $('#activateAccountModal').on('click', '#activate-user', function (e) {
                e.preventDefault();
                console.log($('#activateUserId').val());
                $.ajax({
                    url: '/edytuj-konto',
                    type: "POST",
                    dataType: "json",
                    data: { isActive: true, id: $('#activateUserId').val() },
                    success: function (result) {
                        if (result != null && result.type === "OK") {
                            toastr.success(result.message);
                            location.reload();
                        } else
                            toastr.error(result.message);
                    },
                    error: function (result) {
                        toastr.error(result.Message);
                    }
                });
                $('#activateAccountModal').modal('hide');
            });
        }
    </script>
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="container">
        <table id="accountlist" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Rola</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Oddział</th>
                    <th>Telefon</th>
                    <th>Edycja konta</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Rola</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Oddział</th>
                    <th>Telefon</th>
                    <th>Edycja konta</th>
                </tr>
            </tfoot>
        </table>
    </div>
</main>

<div class="modal fade" id="activateAccountModal" tabindex="-1" role="dialog" aria-labelledby="activateAccountModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><strong>Aktywacja</strong> użytkownika</h3>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz aktywować konto wybranego użytkownika?
                <input type="hidden" class="userId" name="userId" id="activateUserId" value="" />
            </div>
            <div class="modal-footer">
                <button id="activate-user" class="btn btn-success">Aktywuj</button>
                <button class="btn btn-danger" data-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deactivateAccountModal" tabindex="-1" role="dialog" aria-labelledby="deactivateAccountModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><strong>Deaktywacja</strong> użytkownika</h3>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz deaktywować konto wybranego użytkownika?
                <input type="hidden" class="userId" name="userId" id="deactivateUserId" value="" />
            </div>
            <div class="modal-footer">
                <button id="deactivate-user" class="btn btn-success">Deaktywuj</button>
                <button class="btn btn-danger" data-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>