<!doctype html>

<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Images/favicon.ico">
    <title>Logowanie</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/login")
</head>

<body class="text-center">
<form class="form-signin">
    <img class="mb-4" src="~/Images/hospital.svg" alt="" width="80" height="80">
    <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
    <label for="inputEmail" class="sr-only">E-mail</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
    <label for="inputPassword" class="sr-only">Hasło</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Nie wylogowuj mnie
        </label>
    </div>
    <button style="background-color: #319997; border-color: #319997" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
    <p class="mt-5 mb-3 text-muted">&copy; Kamil Lang 2017-2018</p>
</form>
</body>
</html>